#homepage {
    background-color: var(--color--primary);
    color: var(--color--secondary);
    padding: 30px;
    min-height: 100vh;

    ul {
        padding:0;
        list-style:none;
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;

        li {
            margin-top: 15px;
        }
    }
}

.search-input {
    border-radius: 5px;
    padding:7.5px;
    border:none;
}