// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$colors: (
    'primary': #121212,
    'secondary': #F5C518,
    'lightdark': #312f2f,
);

@each $name, $color in $colors {
    .fc--#{$name} { color: var(--color--#{$name}) }

    .bg--#{$name} { background-color: var(--color--#{$name}) }
}