.showCard {
    padding: 20px 0px;
    color: var(--color--secondary);
}

.light-card {
    padding: 10px;
    background-color: var(--color--lightdark);
    border-radius: 10px;
}

.no-overflow {
    overflow: hidden;
}

.thumbnail {
    transition: 0.25s;
    &:hover {
        transform: scale(1.1);
    }
}
